{% extends 'base.html.twig' %}

{% block title %}Nos programmes{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-between p-4">

            {% for performance in performances %}
        <div class="block">
                {% for spectacle in performance.spectacles %}
                    <h2>{{ spectacle.name }}</h2>
                {% endfor %}
                <p>{{ performance.title }}</p>
        </div>

            {% endfor %}

    </div>

{% endblock %}
