<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="/"><img src="/assets/images/logosmall.png" class="w"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">ACCUEIL <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('spectacle_program') }}">PROGRAMMES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">DATES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('circus_history') }}">HISTOIRE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('reservation') }}">RÉSERVATION</a>
            </li>
        </ul>

    </div>
</nav>