{% extends 'base.html.twig' %}

{% block title %}Hello CircusController!{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="d-flex justify-content-center titre_soyeux">BIENVENUE AU CIRQUE DES SOYEUX</h1>

        <div class="d-flex justify-content-center logo_circus">
            <img src="assets/images/logo.png" alt="logo">
        </div>

    </div>
        <div class="image_index"></div>

<div class="container">
    <h2 class=" text-center p-5">LA COMPAGNIE</h2>

    {# CARD #}


        <div class="row justify-content-center">
            {% for artist in artists %}
                <a class="card_link" href="{{ path('artist_show', {'id': artist.id})  }}">
                    <div class="col-lg-4 col-sm-12 m-3">
                        <div class="image_profil">
                            <img class="card_image" src="{{ artist.img }}" alt="Card image cap">
                            <h5 class="card-title text-center">{{ artist.name }}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
