<mjml>
    <mj-body background-color="#FFFFFF" color="rgba(46, 49, 49, 1)" font-family="Arial, sans-serif">
        <mj-section background-color="#FFFFFF" background-repeat="no-repeat" text-align="center" vertical-align="top">
            <mj-column>
                <mj-text align="left" color="#55575d" font-family="Arial, sans-serif" font-size="13px" line-height="22px" padding-bottom="0px" padding-top="0px" padding="10px 25px"><p style="line-height: 18px; margin: 10px 0; text-align: center;font-size:14px;color:#ffffff;font-family:'Times New Roman',Helvetica,Arial,sans-serif">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#FFFFFF" background-repeat="no-repeat" text-align="center" vertical-align="top" padding="0 0 0 0">
            <mj-column>
                <mj-image align="center" border="none" padding-bottom="0px" padding-left="0px" padding-right="0px" padding="0px 25px" src="https://www.telerama.fr/sites/tr_master/files/styles/simplecrop1000/public/0_dr-ag37_0.jpg?itok=2JxTbVVv&sc=8d469251f6ff096ca7bd6786dea9f6a3" target="_blank" title="" width="780px"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section background-color="#FFFFFF" background-repeat="no-repeat" text-align="center" vertical-align="top" padding="0 0 0 0">
            <mj-column>
                <mj-text align="left" color="rgba(46, 49, 49, 1)" font-family="Arial, sans-serif" font-size="13px" line-height="22px" padding-bottom="5px" padding-top="25px" padding="10px 25px">
                    <p style="line-height: 60px; text-align: center; margin: 10px 0;font-size:55px;color:rgba(46, 49, 49, 1);font-family:'Times New Roman',Helvetica,Arial,sans-serif"><b>Bonjour {{ reservation.firstname }}</b></p>
                </mj-text>
                <mj-text align="left" color="rgba(46, 49, 49, 1)" font-family="Arial, sans-serif" font-size="13px" line-height="22px" padding-bottom="20px" padding-top="0px" padding="10px 25px">
                    <p style="line-height: 30px; text-align: center; margin: 10px 0;color:rgba(46, 49, 49, 1);font-size:25px;font-family:'Times New Roman',Helvetica,Arial,sans-serif"><b>&nbsp; Vous avez fait une réservation de {{ reservation.nbperson }} personne(s) pour le spectacle {{ reservation.spectacle }}</b><br/>N'oubliez surtout pas votre carte d'identité pour pouvoir profiter de l'offre<br/><br/> A bientôt<span style="color:rgba(46, 49, 49, 1);font-size:18px;font-family:'Times New Roman',Helvetica,Arial,sans-serif"><br/></span></p>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="rgba(46, 49, 49, 1)" background-repeat="no-repeat" text-align="center" vertical-align="top" padding-bottom="40px" padding="0 0 0 0">
            <mj-column>
                <mj-text align="left" color="rgba(46, 49, 49, 1)" font-family="Arial, sans-serif" font-size="13px" line-height="22px" padding-bottom="0px" padding-top="5px" padding="10px 25px">
                    <p style="line-height: 16px; text-align: center; margin: 10px 0;font-size:12px;color:rgba(46, 49, 49, 1);font-family:'Times New Roman',Helvetica,Arial,sans-serif">&nbsp;<br/><span style="color:rgba(46, 49, 49, 1);font-family:'Times New Roman',Helvetica,Arial,sans-serif"></span></p>
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>